body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.zeroPageContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/Bg-1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}